/*  - 2 - css variables
==================================================================================================== */
$primary-font-family: 'Raleway', sans-serif;
$secondry-font-family: 'Roboto', sans-serif;

$primary-bg-color: #f3f3f2;
$primary-bg-color: #fff;

$primary-color: #FFF;
$secondry-color: #4696f3;

$height-100-per:  100%;
$height-50-per:  50%;

$width-100-per:  100%;
$width-50-per:  50%;
$width-25-per:  50%;

$border: 1px solid #333;

$white: #fff;
$blue: #2196f3;
$black: #2f2f2f;

/*  - 2 - vairables end
==================================================================================================== */
